.menu {
    position: fixed;
    left: -150px;
    top:10px;
    font-size: 18px;
    background-color: white;
    z-index: 1;
    transition: all .5s ease-in-out;
}
.menu div {
    box-shadow: 1px 1px 5px var(--primary-color);
    display:flex; 
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 30px;
    color: var(--secondary-color);
    border-radius: 5px;
}
.menu div :hover{
    color: var(--primary-color);
}
.openmenuUser{
    transform: translate(170px);
    transition: all .5s ease-in-out;
}
