.materialsHeader {
    width: 100%;
    display: grid;
    grid-template-columns: 32% 32% 32% 4%;
}

.materialsBody {
    width: 95%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.materialAvailable {
    color: var(--primary-color);
    margin: 4px;
    font-weight: bold;

}

.materialMenuOptions {
    padding: 0px 10px;
    background-color: var(--backgroundList-color);
    width: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--backgroundList-color);
    position: absolute;
    right: 100%;
}

.materialItemsWidth {
    width: 77px;
}

.selectMaterial {
    height: 18px;
    width: 18px;
    background-color: white;
    /*border: 1px solid black;*/
     border: 1px solid rgb(214, 213, 213);
    margin: 5px 10px;
    /*background-color: var(--borderInput-color);*/
}

.selectMaterial:hover {
    cursor: pointer;
}

.selection{
    background-color: blue;
}
.userSelect{
    width: 5%;
    display: flex;
    align-items: center;
}
.SelectUser:hover{
    cursor: pointer;
    color: var(--primary-color);
}

.installed{
    color: rgb(13, 255, 0);
}
.damaged {
    color: rgb(255, 0, 0);
}
.assigned{
    color:blue
}
.backgroundAssignMaterial{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.onHold{
    color: grey;
}

.tableHead{
    width: 95%;
    display: grid;
    align-items: center;
    grid-template-columns: 33% 33% 33%;
    border-bottom:1px solid var(--borderInput-color);
    margin-top: 5px;
    background-color: rgb(239, 249, 246);
    color: var(--secondary-color);
}
.flex{
    display: flex;
}
.space{
    height: 100%;
    width: 38px;
    margin: 5px 0px;
}
.backgroundhead{
    background-color: rgb(239, 249, 246);
}












