.itemList {
    padding: 10px;
    background-color: var(--backgroundList-color);
    width: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    border-radius: 10px;
    /*box-shadow: 0 0 20px var(--backgroundList-color);*/
}

.itemListPrimary {
    right: 36px;
    top: 0px;
    z-index: 1;
}

.itemListSecondary {
    right: 36px;

}

@media (max-width: 600px) {
    .itemListPrimary {
        right: 23px;
    }

    .itemListSecondary {
        right: 23px;
    }
}

.items {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    padding: 0 10px;
    margin: 2px 0px;
    color: var(--textlist-color);
    background-color: var(--selectlist-color);
    justify-content: space-between;
}

.itemsWidth {
    width: 250px;
}

.items:hover {
    box-shadow: none;
    cursor: pointer;
    color: var(--primary-color);
    /*background-color: var(--sub-color);*/
}

.assignItems {

    display: flex;
    justify-content: center;
    align-items: center;
}

.selectListBackground {
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    background-color: var(--backgroundList-color);
    border-radius: 50%;
}

.amount {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    background-color: var(--selectlist-color);
}

.amount>p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-size: large;
    font-weight: bold;
}

.amount>p:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.amount>div {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    color: var(--backgroundList-color);
    background-color: white;
    border-radius: 5px;
    opacity: 0.8;
}


.select {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 2px rgb(19, 22, 25);
}
.select:hover {
    background-color: var(--select-color);
}

.selection {
    background-color: var(--select-color);
}