.userHeader{
    width: 100%;
    display: grid;
    grid-template-columns: 48% 48% 4%;
}
.userBody{
    width: 96%;
}

.MaterialSelected{
    color: #fff;
}
.TittleMaterialSelected{
    color: var(--primary-color);
}

.itemLists {
    padding: 10px;
    background-color: var(--backgroundList-color);
    width: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    /*box-shadow: 0 0 20px var(--backgroundList-color);*/
}