.userHeader{
    width: 100%;
    display: grid;
    grid-template-columns: 48% 48% 4%;
}
.userBody{
    width: 96%;
}

.MaterialSelected{
    color: #fff;
}
.TittleMaterialSelected{
    color: var(--primary-color);
}
