 
.taskHeader {
    width: 100%;
    display: grid;
    grid-template-columns: 24% 24% 24% 24% 4%;
}

.task {
    width: 96%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.canceled {
    color: rgb(255, 0, 0);
}

.finished {
    color: rgb(13, 255, 0);
}

.activityGrid {
    display: grid;
    grid-template-columns: 25% 75%;
}

.inputdescription {
    width: 0px;
    height: auto;
}

.report {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.backgroundUserList {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tasksub {
    color: var(--borderTable-color);
    margin: 0 5px;
    text-align: center;
}

.tasksub:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.selected {
    color: var(--primary-color);
}

.taskcontent {
    display: grid;
    align-content: center;
}

.tasksubcontent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
}
.taskActivity{
    border: 2px solid var(--primary-color);
    /*box-shadow: 0 0 1px blue;*/
}