.taskHeader {
    width: 100%;
    display: grid;
    grid-template-columns: 24% 24% 24% 24% 4%;
}

.task {
    width: 96%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.canceled {
    color: rgb(255, 0, 0);
}

.finished {
    color: rgb(13, 255, 0);
}

.activityGrid{
    display: grid;
    grid-template-columns: 25% 75%;
}