.backupGrid{
    width: 100%;
    display: grid;
    grid-template-columns: 24% 24% 24% 24% 4%;
    text-align: center;
    justify-content: center;
}
.backupBody{
    width: 96%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: 25% 25% 25% 25%;
}
