input {
    border: none;
}

.list{
    display: flex;
    flex-direction: column;
    width: min-content;
    padding: 0px 10px;
    margin: 1px auto;
    border-radius: 3px;
}
.list:hover{
    box-shadow: 0 0 2px var(--secondary-color);
    z-index: 2;
}