.activitiesHeader{
    width: 100%;
    display: grid;
    grid-template-columns: 24% 24% 24% 24% 4%;
}
.activity{
    width: 96%;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 25% 25% 25% 25%;
}