.user, .plus{
    color: var(--secondary-color);
    font-size: 40px;
    margin: 0 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
}
.user:hover, .plus:hover{
    color: var(--primary-color);
    background-color: var(--borderInput-color);
    cursor: pointer;
}
.navBar{
    position: sticky;
    top: 0;
    background-color: white;
    height: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    box-shadow: 1px 1px 10px var(--primary-color);
    z-index: 1;
}
.logo {
    height: 90%;
    width: auto;
}
.title{
    color: var(--secondary-color);
}