.menu-btn {
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    /*80*/
    height: 35px;
    /*80*/
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: 3px solid var(--secondary-color);
    margin: 0 20px;
}
.menu-btn__burger {
    width: 20px;
    /*50*/
    height: 2px;
    /*6*/
    background: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}
.menu-btn__burger::after,
.menu-btn__burger::before {
    content: ' ';
    position: absolute;
    width: 20px;
    /*50*/
    height: 2px;
    /*6*/
    background-color: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-7px);
    /*-16*/
}
.menu-btn__burger::after {
    transform: translateY(7px);
    /*16*/
}
/*Animacion*/
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
.open{
    transform: translateX(170px);
    margin: 0;
}

.plusOpen{
    transform:  translate(-165px) rotate(45deg);
    border-radius: 0px;
    border-radius: 50%;
    border: 3px solid var(--secondary-color);
    transition: all .5s ease-in-out;
}
.plus {
    color: var(--secondary-color);
    font-size: 29px;
    background-color: white;
    margin: 0 20px;    
    position: fixed;
    right: 5px;
    /*border-radius: 50%;*/
    border: 3px solid var(--secondary-color);
    transition: all .5s ease-in-out;
}
.plus:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.navBar {
    position: sticky;
    top: 0;
    background-color: white;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*padding-left: 5%;
    padding-right: 5%;*/
    align-items: center;
    box-shadow: 1px 1px 10px var(--primary-color);
    z-index: 3;
}

.logo {
    height: 90%;
    width: auto;
}

.title {
    width: 100%;
    text-align: center;
    color: var(--secondary-color);
}