.login {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login > h2 {
    width: 100%;
    text-align: center;
    margin:20px 0px ;
    color: var(--secondary-color);
}

.login > div {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 20px 10%;
    margin: 0 auto;
    color: var(--secondary-color);
}

.login > button{
    width: 60px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--primary-color);
    border: none;
    border: 1px solid var(--secondary-color);
    border-radius: 3px;
    color:var(--secondary-color);
}
.boton:hover{
    cursor: pointer;
    color: black;
}


.singUp {
    flex-direction: column;
}

.singUp > div {
    color: black;
}

.singUp > .SingUp { 
    color:blue;
} 

input {
    width: 70%;
    margin: 10px auto;
    border: none;
    border: 1px solid var(--borderInput-color);
    border-radius: 5px;
    height: 30px;
    text-align: center;
}
