:root {
  --sub-color: rgb(250, 249, 255);
  --padding-mobile: 20px;
  --padding-tablet: 50px;
  --padding-desktop: 100px;
  --primary-color: rgb(199, 225, 164);
  --secondary-color: rgb(61, 100, 5);
  --borderInput-color: rgb(229, 228, 228);
  --borderTable-color: rgb(177, 166, 249);
  --border-color: #9996;
  --backgroundList-color: rgb(14, 0, 33);
  --selectlist-color: rgba(169, 155, 206, 0.325);
  --textlist-color: white;
  --select-color: rgb(106, 0, 255);
  --color-primary-text: black;
  --color-secondary-text: #9996;
  --color-footer: #3C3C3B;
  --font-family: 'Lato', sans-serif;
  --font-size: 12px;

}

/* -- Reset -- */
* {
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-family);
}

a {
  text-decoration-line: none;
  color: var(--secondary-color)
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

h4{
  width: 100%;
  text-align: center;
}
ul {
  list-style: none;
  padding-left: 0;
}

.necessary {
  font-weight: bold;
}

/*
a {
  text-decoration: none;
  color: inherit;
}
*/


button {
  margin: 5px;
  background-color: white;
  border-radius: 4px;
}

img {
  width: 100%;
}

textarea {
  width: 80%;
  height: 30vh;
  margin: 25px 0;
  background-color: white;
  outline: none;
  /*overflow:hidden*/
  border: none;
  resize: none;
  border-radius: 5px;
  box-shadow: 0 0 1px black;
}

input {
  width: 80%;
  /*min-height: 30px;
  height: 100%;*/
  margin: 10px auto;
  border: none;
  border: 1px solid var(--borderInput-color);
  border-radius: 5px;
  text-align: center;
  outline: none;
}

input:hover {
  cursor: pointer;
}

.App {
  width: 100%;
  min-height: 100vh;
  /*height: 100vh;*/
  /*justify-content: center;*/
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
}

.main {
  flex: 1;
}




.tableHeader {
  margin-top: 5px;
  background-color: rgb(239, 249, 246);
  color: var(--secondary-color);

  border-bottom: 1px solid var(--border-color);
}

/*
.table {
  border-bottom: 1px solid var(--borderInput-color);
}

.tableHover {
  border-bottom: 1px solid var(--borderInput-color);
}*/

.tableHover:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sub {

  color: var(--borderTable-color)
}

.sub:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.subcontent {
  background-color: var(--sub-color);
  align-items: center;
}

.createCenter {
  width: 100%;
  height: 100%;
  /********************/
  /*overflow-y: auto;
  scroll-behavior: smooth;*/
  /***************************/
  text-align: center;
  padding: 0 20px;
  flex-wrap: wrap;
  /*background-color: var(--borderInput-color);*/
}

.createGrid {
  width: 100%;
  /*display: grid;
  grid-template-columns: 40% 60%;
  justify-content: center;
  align-items: center;
  text-align: start;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0px;
  position: relative;
}

.textArea{
  height: 20vh;
}

.createGrid>label {
  padding-left: 10px;
  width: 140px;
  text-align: start;
}

.createGrid>input {
  display: inline-block;
  /*margin-right: 2%;
  margin-left: 45px;
  height: auto;

  width: auto;
  border: none;
  border-radius: 5px;*/
}

h2 {
  margin: 30px 0;
}

.checks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.check {
  width: 90px;
  height: 70px;
}

/* menu de cada item (asignar, eliminar, editar, devolver, etc)*/
.deploy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--borderInput-color);
}

.threePoints {
  width: 4%;
  color: var(--secondary-color);
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.threePoints:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.threePoints>p {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1px;
  height: 1px;
  /*
  font-size: 22px;
  */
  font-weight: bold;
  margin: 0px;
  transform: rotate(90deg);
}

/*
.backgroundthreePoints {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/




/*lista de seleccion de proyectos, habitaciones, tareas*/

.listNews {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 0px 10px;
  margin: 1px auto;
  box-shadow: 0 0 1px black;
}

.list {
  width: 100%;
  text-align: justify;
  padding: 0px 10px;
  margin: 1px auto;
  border-radius: 3px;
  border-bottom: 1px solid var(--primary-color);
}

.list:hover {
  color: var(--primary-color);
  z-index: 2;
  cursor: pointer;
}

/*para las ventanas de creacion*/
.new {
  /*border-radius: 2%;
  margin: 0 auto;
  box-shadow: 0 0 20px black;*/
  position: relative;
}

.News {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  /*60px;*/
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay::after {
  width: 100%;
  content: " dceerferf";
  background-color: rgb(9, 6, 50);
  background-size: cover;
  position: fixed;
  top: 0;
  inset: 0;
  opacity: 0.3;
  z-index: 2;
}

.contentDeploy {
  width: 100%;
}

.close {
  position: absolute;
  right: 20px;
  font-size: 25px;
}

.close:hover {
  color: var(--primary-color);
  cursor: pointer;
}

button:hover {
  color: var(--primary-color);
  cursor: pointer;
}










/*Lista para seleccionar una 
opcion como proyectos como
habitaciones*/
.selectableMenu {
  width: 80%;
  border-radius: 5px;
  box-shadow: 0 0 1px black;
  background-color: white;
  position: relative; 
  display: inline-block; 
} 

.selectableMenu__label { 
  cursor: pointer; 
} 

.selectableMenu__list { 
  width: 100%;
  border-top: 1px solid rgb(177, 177, 177);
  box-shadow: 0px 0px 2px var(--primary-color);
  border-radius: 5px;
  background-color: white;
  display: none; 
  position: absolute; 
  top: 100%; 
  left: 0; 
  margin: 0; 
  padding: 0; 
  list-style: none; 
  display: block;/**/
} 

/*
.selectableMenu:hover .selectableMenu__list, 
.selectableMenu__list:hover { 
  transition-duration: 2s;
  display: block; 
  
} */

.selectableMenu__item {
  margin: 5px 0px;
  border-bottom: solid 1px  var(--primary-color);
  color: black; 
} 

.selectableMenu__item:hover { 
  cursor: pointer;
  color: var(--primary-color); 
} 


.zindex2{
  z-index: 2;
}